
//    Font Family

$primary-font	: 'Poppins','ARISTA2.0ALTERNATE-LIGHTTRIAL', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #00A8E1;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$toska			: #00547d;
$black			: #000;
